USE [master]
GO
/****** Object:  Database [QLBN]    Script Date: 12/16/2019 21:59:38 ******/
CREATE DATABASE [QLBN] ON  PRIMARY 
( NAME = N'QLBN', FILENAME = N'E:\LapTrinhC-Hutech\CNPM_QuanLyBenhNhanLao_Lop17DTHC6\Database\QLBN.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBN_log', FILENAME = N'E:\LapTrinhC-Hutech\CNPM_QuanLyBenhNhanLao_Lop17DTHC6\Database\QLBN_log.LDF' , SIZE = 1280KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBN]
GO
/****** Object:  Table [dbo].[USER_LOGIN]    Script Date: 12/16/2019 21:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_LOGIN](
	[NAME] [char](100) NOT NULL,
	[PASS] [char](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USER_LOGIN] ([NAME], [PASS]) VALUES (N'admin                                                                                               ', N'admin                                                                                               ')
INSERT [dbo].[USER_LOGIN] ([NAME], [PASS]) VALUES (N'tiennguyen                                                                                          ', N'123456                                                                                              ')
/****** Object:  Table [dbo].[SUDUNGTHUOC]    Script Date: 12/16/2019 21:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SUDUNGTHUOC](
	[MALOAI] [char](12) NOT NULL,
	[MABN] [char](5) NOT NULL,
	[SLVIEN] [int] NULL,
	[NGAYDT] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC,
	[MABN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[SUDUNGTHUOC] ([MALOAI], [MABN], [SLVIEN], [NGAYDT]) VALUES (N'EMB         ', N'BN1  ', 2, CAST(0xF9310B00 AS Date))
INSERT [dbo].[SUDUNGTHUOC] ([MALOAI], [MABN], [SLVIEN], [NGAYDT]) VALUES (N'EMB         ', N'BN2  ', 1, CAST(0xF9310B00 AS Date))
INSERT [dbo].[SUDUNGTHUOC] ([MALOAI], [MABN], [SLVIEN], [NGAYDT]) VALUES (N'EMB         ', N'BN3  ', 4, CAST(0xF9310B00 AS Date))
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 12/16/2019 21:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAI] [char](12) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 12/16/2019 21:59:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [char](5) NOT NULL,
	[TENBN] [nvarchar](50) NULL,
	[TUOI] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](3) NULL,
	[LOAIBN] [nvarchar](50) NULL,
	[SOKY] [varchar](50) NULL,
	[NGAYDIEUTRI] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [TUOI], [DIACHI], [GIOITINH], [LOAIBN], [SOKY], [NGAYDIEUTRI]) VALUES (N'BN1  ', N'Nguyễn Ngọc Thuỷ Tiên', 24, N'123 quận 8', N'Nữ', N'Tái phát', N'40 -> 55', CAST(0xF9310B00 AS Date))
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [TUOI], [DIACHI], [GIOITINH], [LOAIBN], [SOKY], [NGAYDIEUTRI]) VALUES (N'BN2  ', N'Nguyễn Văn A', 56, N'345 quận 10', N'Nam', N'Kháng thuốc', N'> 70', CAST(0xF9310B00 AS Date))
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [TUOI], [DIACHI], [GIOITINH], [LOAIBN], [SOKY], [NGAYDIEUTRI]) VALUES (N'BN3  ', N'Nguyễn Văn B', 12, N'67 quận 2', N'Nam', N'Trẻ em', N'40 -> 55', CAST(0xF9310B00 AS Date))
/****** Object:  Check [CK__BENHNHAN__GIOITI__014935CB]    Script Date: 12/16/2019 21:59:41 ******/
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD CHECK  (([GIOITINH]=N'NỮ' OR [GIOITINH]=N'NAM'))
GO
