USE [master]
GO
/****** Object:  Database [QLBN]    Script Date: 06/02/2020 12:09:26 ******/
CREATE DATABASE [QLBN] ON  PRIMARY 
( NAME = N'QLBN', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBN.mdf' , SIZE = 2304KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QLBN_log', FILENAME = N'c:\Program Files\Microsoft SQL Server\MSSQL10_50.SQLEXPRESS\MSSQL\DATA\QLBN_log.LDF' , SIZE = 504KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBN]
GO
/****** Object:  Table [dbo].[USER_LOGIN]    Script Date: 06/02/2020 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USER_LOGIN](
	[NAME] [nvarchar](50) NOT NULL,
	[PASS] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[USER_LOGIN] ([NAME], [PASS]) VALUES (N'admin', N'admin')
INSERT [dbo].[USER_LOGIN] ([NAME], [PASS]) VALUES (N'tiennguyen', N'123456')
/****** Object:  Table [dbo].[LOAITHUOC]    Script Date: 06/02/2020 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAITHUOC](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[MOTACHITIET] [nvarchar](50) NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAITHUOC] ON
INSERT [dbo].[LOAITHUOC] ([MALOAI], [MOTACHITIET], [TENLOAI]) VALUES (1, N'Streptomycin      ', N'SM')
INSERT [dbo].[LOAITHUOC] ([MALOAI], [MOTACHITIET], [TENLOAI]) VALUES (2, N'RHZ       ', N'RHZ')
INSERT [dbo].[LOAITHUOC] ([MALOAI], [MOTACHITIET], [TENLOAI]) VALUES (3, N'RH        ', N'RH 75/50')
SET IDENTITY_INSERT [dbo].[LOAITHUOC] OFF
/****** Object:  Table [dbo].[LOAIBENHNHAN]    Script Date: 06/02/2020 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIBENHNHAN](
	[MALOAIBN] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MALOAIBN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LOAIBENHNHAN] ON
INSERT [dbo].[LOAIBENHNHAN] ([MALOAIBN], [TENLOAI]) VALUES (1, N'Mới')
INSERT [dbo].[LOAIBENHNHAN] ([MALOAIBN], [TENLOAI]) VALUES (2, N'Tái Phát')
INSERT [dbo].[LOAIBENHNHAN] ([MALOAIBN], [TENLOAI]) VALUES (3, N'Kháng Thuốc')
SET IDENTITY_INSERT [dbo].[LOAIBENHNHAN] OFF
/****** Object:  Table [dbo].[BENHNHAN]    Script Date: 06/02/2020 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BENHNHAN](
	[MABN] [int] IDENTITY(1,1) NOT NULL,
	[TENBN] [nvarchar](50) NULL,
	[TUOI] [int] NULL,
	[DIACHI] [nvarchar](50) NULL,
	[GIOITINH] [bit] NULL,
	[MALOAIBN] [int] NULL,
	[SOKY] [int] NULL,
	[NGAYBDDT] [smalldatetime] NULL,
	[THOIGIANDT] [int] NULL,
	[THOIGIANTC] [int] NULL,
	[THOIGIANCC] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MABN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BENHNHAN] ON
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [TUOI], [DIACHI], [GIOITINH], [MALOAIBN], [SOKY], [NGAYBDDT], [THOIGIANDT], [THOIGIANTC], [THOIGIANCC]) VALUES (1, N'Nguyễn Văn A', 55, N'Khánh Bình', 1, 1, 55, CAST(0xAB690000 AS SmallDateTime), 6, 2, 4)
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [TUOI], [DIACHI], [GIOITINH], [MALOAIBN], [SOKY], [NGAYBDDT], [THOIGIANDT], [THOIGIANTC], [THOIGIANCC]) VALUES (2, N'Trần Văn B', 30, N'Khánh An', 1, 2, 52, CAST(0xAB860000 AS SmallDateTime), 8, 2, 6)
INSERT [dbo].[BENHNHAN] ([MABN], [TENBN], [TUOI], [DIACHI], [GIOITINH], [MALOAIBN], [SOKY], [NGAYBDDT], [THOIGIANDT], [THOIGIANTC], [THOIGIANCC]) VALUES (3, N'Nguyễn Thị C', 40, N'Khánh Lợi', 0, 1, 48, CAST(0xABA50000 AS SmallDateTime), 6, 2, 4)
SET IDENTITY_INSERT [dbo].[BENHNHAN] OFF
/****** Object:  Table [dbo].[SUDUNGTHUOC]    Script Date: 06/02/2020 12:09:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUDUNGTHUOC](
	[MALOAI] [int] NOT NULL,
	[MABN] [int] NOT NULL,
	[SoLuongVien] [int] NULL,
 CONSTRAINT [PK__SUDUNGTH__C960C0DA0BC6C43E] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC,
	[MABN] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SUDUNGTHUOC] ([MALOAI], [MABN], [SoLuongVien]) VALUES (1, 1, 2)
INSERT [dbo].[SUDUNGTHUOC] ([MALOAI], [MABN], [SoLuongVien]) VALUES (1, 2, 2)
INSERT [dbo].[SUDUNGTHUOC] ([MALOAI], [MABN], [SoLuongVien]) VALUES (2, 1, 2)
/****** Object:  ForeignKey [FK_BENHNHAN_LOAIBENHNHAN]    Script Date: 06/02/2020 12:09:28 ******/
ALTER TABLE [dbo].[BENHNHAN]  WITH CHECK ADD  CONSTRAINT [FK_BENHNHAN_LOAIBENHNHAN] FOREIGN KEY([MALOAIBN])
REFERENCES [dbo].[LOAIBENHNHAN] ([MALOAIBN])
GO
ALTER TABLE [dbo].[BENHNHAN] CHECK CONSTRAINT [FK_BENHNHAN_LOAIBENHNHAN]
GO
/****** Object:  ForeignKey [FK_SUDUNGTHUOC_BENHNHAN]    Script Date: 06/02/2020 12:09:28 ******/
ALTER TABLE [dbo].[SUDUNGTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGTHUOC_BENHNHAN] FOREIGN KEY([MABN])
REFERENCES [dbo].[BENHNHAN] ([MABN])
GO
ALTER TABLE [dbo].[SUDUNGTHUOC] CHECK CONSTRAINT [FK_SUDUNGTHUOC_BENHNHAN]
GO
/****** Object:  ForeignKey [FK_SUDUNGTHUOC_LOAITHUOC]    Script Date: 06/02/2020 12:09:28 ******/
ALTER TABLE [dbo].[SUDUNGTHUOC]  WITH CHECK ADD  CONSTRAINT [FK_SUDUNGTHUOC_LOAITHUOC] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAITHUOC] ([MALOAI])
GO
ALTER TABLE [dbo].[SUDUNGTHUOC] CHECK CONSTRAINT [FK_SUDUNGTHUOC_LOAITHUOC]
GO
